<StateInfo>
	<dialog key="BookShelf" initial="Index" path="~/Default.aspx">
		<state key="Index" page="~/Views/Home/Index.aspx" route="BigShelf/{page}/{filter}/{sort}/{sortAscending}" defaults="filter=All,sort=Title,sortAscending=true,page=1,pageSize?int=6" defaultTypes="page=int,sortAscending=bool" title="Big Shelf - Read books, share books." trackCrumbTrail="false">
		</state>
	</dialog>
</StateInfo>