<StateInfo>
	<dialog key="BookShelf" initial="Index" path="~/Views/Home/Index.aspx">
		<state key="Index" page="~/Views/Home/Index.aspx" defaults="sort=Title,sortAscending=true,page=1,pageSize?int=6" defaultTypes="page=int,sortAscending=bool" title="Big Shelf - Read books, share books.">
		</state>
	</dialog>
</StateInfo>